body {
  background-color: hsl(233, 47%, 7%);
  color: aliceblue;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  display: flex;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
}

.container .info {
  width: 50%;
  padding: 77px 100px 68px 76px ;
}

.container .info .title {
  font-size: 39px;
  color: #fff;
}

.container .info .title span {
  color: hsl(277, 64%, 61%);
}

.container .info .text {
  margin-top: 28px;
  line-height: 25px;
  font-size: 15px;
  color:hsla(0, 0%, 100%, 0.6);
}

.container .info .info-data {
  display: flex;
  margin-top: 80px;
}

.info-data .data {
  margin-right: 65px;
}

.info-data .data:last-child {
  margin-right: 0;
}

 .info-data div p:first-child {
  font-size: 20px;
  font-weight: 700;
}

.info-data div p:last-child {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: 1px;
}

.container-foto {
  width: 50%;
}


.container-foto .foto {
  width: 100%;
  height: 100%;
  background: url(../images/image-header-desktop.jpg) no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0 10px 10px 0;
}

.container-foto .foto::after {
  content: "";
  background-color: hsl(277, 64%, 61%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 10px 10px 0;
  mix-blend-mode: multiply; /*opacidade*/
}












